.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  margin-top: 80px; /* to adjust for the fixed navbar */
  transition: margin-left 0.3s ease;
}

.content-container .sidebar {
  z-index: 1;
}

.content-container .main-content {
  flex: 1;
  transition: margin-left 0.3s ease;
}
