.content-container {
    display: flex;
    margin-top: 80px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    transition: margin-left 0.3s ease;
}

.content-container.sidebar-open {
    margin-left: 250px;
}

#id-button.span {
    color: white !important;
}